body {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-link {
   font-family: 'Hanalei Fill', cursive;
 }

 